<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
	<title>Scrum Poker - {{text}}</title>
	<link href="style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="app.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" type="image/png" href="favicon.png"/>
	<link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
	<meta property="og:site_name" content="Scrum Poker">
	<meta property="og:title" content="Scrum Poker" />
	<meta property="og:description" content="Tarjetas de planeación para estimaciones de tiempos de trabajo en proyectos Scrum, con temática anime" />
	<meta property="og:image" itemprop="image" content="https://rmonterlabs.azurewebsites.net/poker/favicon.png">
	<meta property="og:type" content="website" />
</head>
<body  ng-init="fibonacciReset(); coffee = false; themeList.value = 'dbz'; themeList.label = 'Dragon Ball'; color='red'; color_alt = 'grey'">
	<div class="scene">
		<div class="bothCards" id="card" ng-class="{'flipped':isFlipped}">
			<div class="card-holder front" ng-show="showFront">
				<div class="card">
					<div class="card-edge edge-top" ng-click="fibonacciUp()" ng-class="color_alt">
						<span class="tag">{{text}}</span>
						<span class="element" ng-class="color"><span>{{f}}</span></span>
					</div>
					<div class="card-container" ng-click="flipCard()">
						<img ng-src="img/{{themeList.value}}/{{img}}.png">
						<img ng-src="img/{{themeList.value}}/{{img}}.png">
					</div>
					<div class="card-edge edge-bottom" ng-click="fibonacciDn()" ng-class="color_alt">
						<span class="tag">{{text}}</span>
						<span class="element" ng-class="color"><span>{{f}}</span></span>
					</div>
				</div>
			</div>
			<div class="card-holder back" ng-show="showBack">
				<div class="card">
					<div class="card-edge edge-top" ng-class="color">
					</div>
					<div class="card-container" ng-click="flipCard()">
						<img ng-src="img/{{themeList.value}}/0.png">
					</div>
					<div class="card-edge edge-bottom" ng-class="color_alt">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn" ng-class="color" ng-click="fibonacciUp()" title="Más horas"><i class="fas fa-angle-up fa-3x"></i></button>
		</div>
		<div class="col">
			<button type="button" class="btn" ng-class="color" ng-click="fibonacciReset()" title="Reiniciar"><i class="fas fa-undo fa-3x"></i></button>
		</div>
		<div class="col">
			<button type="button" class="btn" ng-class="color" ng-click="fibonacciDn()" title="Menos horas"><i class="fas fa-angle-down fa-3x"></i></button>
		</div>
		<div class="col">
			<button type="button" class="btn" ng-class="color" ng-click="flipCard()" title="Voltear carta"><i class="fas fa-sync-alt fa-3x"></i></button>
		</div>
		<div class="col">
			<button type="button" class="btn" ng-class="color" ng-click="coffeeBreak()" title="Receso"><i class="fas fa-coffee fa-3x"></i></button>
		</div>
		<div class="col">
			<button type="button" class="btn" ng-class="color" onclick="document.getElementById('card').webkitRequestFullScreen();" title="Pantalla Completa"><i class="fas fa-expand fa-3x"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn" ng-class="color" onclick="showModal('help')" title="Instrucciones"><i class="fas fa-question fa-3x"></i></button>
		</div>
		<div class="col">
			<button id="myBtn" type="button" ng-class="color" class="btn" onclick="showModal('config')" title="Configurar"><i class="fas fa-wrench fa-3x"></i></button>
		</div>
		<div class="col">
		</div>
		<div class="col">

		</div>
		<div class="col">

		</div>
		<div class="col">
			<button type="button" class="btn" ng-class="color" onclick="showModal('about')" title="Acerca de"><i class="fas fa-info fa-3x"></i></button>
		</div>
	</div>

	<div id="config" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal(this)"><small>Cerrar</small> &times;</span>
			<h4>Tema: <small>{{themeList.label}}</small>
				<div class="theme">
					<img ng-src="img/{{themeList.value}}/0.png">
				</div>
			</h4>
			<div class="custom-select">
				<select id="theme"
						ng-model="themeList" 
						ng-options="theme as theme.label for theme in themes track by theme.value">           
    			</select>
			</div>
			<h4>Color Principal <button class="btn" ng-class="color" style="transform: scale(50%); display: inline-block;" disabled="disabled"></button></h4>
			<div class="row">
				<div class="col">
					<button type="button" class="btn red" ng-click="color='red'"></button>
				</div>
				<div class="col">
					<button type="button" class="btn blue" ng-click="color='blue'"></button>
				</div>
				<div class="col">
					<button type="button" class="btn purple" ng-click="color='purple'"></button>
				</div>
				<div class="col">
					<button type="button" class="btn green" ng-click="color='green'"></button>
				</div>
				<div class="col">
					<button type="button" class="btn pink" ng-click="color='pink'"></button>
				</div>
			</div>
			<h4>Color Secundario <button class="btn" ng-class="color_alt" style="transform: scale(50%); display: inline-block;" disabled="disabled"></button></h4>
			<div class="row">
				<div class="col">
					<button type="button" class="btn soft-grey" ng-click="color_alt='soft-grey'"></button>
				</div>
				<div class="col">
					<button type="button" class="btn grey" ng-click="color_alt='grey'"></button>
				</div>
				<div class="col">
					<button type="button" class="btn blue-grey" ng-click="color_alt='blue-grey'"></button>
				</div>
			</div>
		</div>
	</div>
	<div id="about" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal(this)">&times;</span>
			<h3>Acerca de</h3>
			<p>Tarjetas de planeación para estimaciones de tiempos de trabajo en proyectos Scrum, con temática anime</p>
		</div>
	</div>
	<div id="help" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal(this)">&times;</span>
			<h3>¿Cómo se usa?</h3>
			<h4>Modo normal</h4>
			<p><i class="fas fa-angle-up"></i> Más Horas</p>
			<p><i class="fas fa-angle-down"></i> Menos Horas</p>
			<p><i class="fas fa-undo"></i> Reiniciar Horas</p>
			<p><i class="fas fa-sync-alt"></i> Voltear tarjeta</p>
			<p><i class="fas fa-expand"></i> Entrar en pantalla compelta</p>
			<p><i class="fas fa-question"></i> Esta ayuda</p>
			<p><i class="fas fa-wrench"></i> Ajustes (Color e imágenes)</p>
			<p><i class="fas fa-info"></i> Acerca de esta app</p>
			<h4>Pantalla compelta</h4>
			<div class="card-holder front" ng-show="showFront">
				<div class="card">
					<div class="card-edge edge-top" ng-class="color_alt">
						<span class="tag">Incrementar horas</span>
						<span class="element" ng-class="color"><span>+</span></span>
					</div>
					<div class="card-container">
						<p>Voltear Carta</p>
						<p>Voltear Carta</p>
						<p>Voltear Carta</p>
					</div>
					<div class="card-edge edge-bottom" ng-class="color_alt">
						<span class="tag">Decrementar Horas</span>
						<span class="element" ng-class="color"><span>-</span></span>
					</div>
				</div>
			</div>
			<div class="card-holder back">
				<div class="card">
					<div class="card-edge edge-top" ng-class="color">
					</div>
					<div class="card-container">
						<p style="color: black">Voltear Carta</p>
					</div>
					<div class="card-edge edge-bottom" ng-class="color_alt">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>
	$( document ).ready(function() {
		screen.lockOrientation("portrait");
	});

window.FontAwesomeConfig = {
	searchPseudoElements: true
}


var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];

function showModal(modal){
	var modal = document.getElementById(modal);
    $(modal).show();
}
function closeModal(element){
	var modal = $(element).closest(".modal")[0];
    $(modal).hide();
}
</script>